label{
    margin-left: 5px;
    margin-top: 10px;
    width: min-content;
}

.inputGeral{
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-left: 5px;
    width: calc(100% - 10px);    
    margin-bottom: 10px;
}

input{
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 15px;
    color: yellow;
    width: 100%;
    font-size: 1rem;
}

.inputSimbolo{
    display: flex;
    width: 100%;
    align-items: center;
    border: 1px solid yellow;
    border-radius: 5px;
}

.inputSimboloBitcoin{
    display: flex;
    width: 100%;
    align-items: center;
    border: 1px solid red;
    border-radius: 5px;
    color: red;
}


.inputSimboloBitcoin label{
    width: 8%;
    margin-top: 0;
}

.inputSimbolo label{
    width: 8%;
    margin-top: 0;
}